@import 'variables';

.spot-filter {
  color: #999;
  padding-bottom: 20px;

  label {
    display: block;
    text-transform: uppercase;
    font-size 0.8em;
  }

  &__title {
    font-weight: normal
    font-size: 1em;
  }

  &__field_group {
    border-bottom: 1px inset #c3c3c3;
    padding: 10px 0 20px;
    margin-bottom: 10px;
  }


  &__field {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5%;
    max-width: 45%;

    input {
      height: 35px;
      padding: 5px;
      width: 100%;
      border-radius: 2px;
      border: 1px solid #979797;
    }
  }

  @media (max-width: $md-breakpoint) {
    &__field {
      min-width: 45%;
    }
  }
}
