@import 'variables';

.spot-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

  .spot-menu__item {
    padding: $padding 8px;

    a {
      cursor: pointer;
      border-radius: 4px;
      text-align: center;
      font-size: 0.7em;
      font-weight bold;
      width: 100%;
      display: block;
      padding: 5px;
      color: $primary-font-color;
      text-decoration: none;
      text-transform: uppercase;
    }

    & a:hover, &--is-active a {
      background $primary-color;
    }

    &-label {
      display: block;
    }

    .spot-icon {
      margin: 5px auto 15px auto;
    }

    @media (max-width: $small-breakpoint) {
      & {
        a {
          text-align: left;
        }

        .spot-icon {
          margin: 5px 10px;
        }

        &-label, .spot-icon {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
