@import "variables";

.spot-button {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-weight: bold;

  &__primary {
    background: $primary-color;
    color: $primary-font-color;
  }
}
