.spot-icon {
  width: 28.8px;
  height: 28.8px;
  object-fit: contain;
  display: block;
  margin: 5px auto;
  background-position: center;
  background-repeat: no-repeat;

  &__building {
    background-image: url('./assets/building.svg');
  }

  &__add {
    background-image: url('./assets/plus-icon.svg');
  }

  &__menu {
    background-image: url('./assets/menu.svg');
  }

  &__area {
    background-image: url('./assets/ic-card-area.svg');
  }

  &__bath {
    background-image: url('./assets/ic-card-bathroom.svg');
  }

  &__bed {
    background-image: url('./assets/ic-card-beds.svg');
  }
}
