.spot-card {
  box-shadow: 1px 0px 9px #C3C3C3;
  margin: 10px;
  align-items: stretch;

  &__thumb, &__content {
    margin: 0;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__thumb {
    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &__content-text {
    margin: 10px;
    flex: 1 0 auto;
  }

  &__footer {
    padding: 10px;
    width 100%;
    background: #F3F3F3;
  }
}
