@import "variables";

.spot-sidebar {
  transition: transform 0.5s ease-in;
  max-width: $sidebar-size;
  align-self: stretch;
  min-height: 100%;
  display: flex;

  &__nav {
    background: darken($primary-color, 30);
    padding: 0;
    min-height: 100%;
  }

  &__title {
    width 100%;
    background: $primary-color url('./assets/logo-vivareal.svg') no-repeat 50%;
    color: $primary-font-color;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    text-indent: -10000px;
  }

  @media (max-width: $md-breakpoint) {
    & {
      transform: translateX(-100%);
      z-index: 10;
      position: absolute;
      min-width: 100%;

      &__title {
        background-position: 18px 50%;
        text-indent: 0;
      }

      &--is-open {
        left: 0;
        top: 0;
        transform: translateX(0%);
      }

      &__backdrop {
        width: 100%;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.8);
        z-index: 9;
        height: 100%;
        position: absolute;
      }

      &__nav {
        width: 50%;
        position: absolute;
        z-index: 10;
        top: 0;
        overflow: hidden;
      }
    }
  }

  @media (max-width: $small-breakpoint) {
    &--is-open &__nav {
      width 80%;
    }
  }
}
