@import "variables";

.spot-app-bar {
  background: darken($primary-color, 10);
  color: $primary-font-color;

  &__text, &__icon {
    padding: 5px 10px;
  }

  &__icon {
    display: none;
    cursor: pointer;
    width 45px;

    .spot-icon {
      background-size: contain;
    }
  }

  @media (max-width: $md-breakpoint) {
    &__icon, &__text {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9em;
    }
  }
}
